{% load static %}

<!-- begin:news -->
<div id="news">
    <div class="container">
        <div class="row">
            <!-- begin:blog -->
            <div class="col-md-4 col-sm-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-title heading-title-sm bg-white">
                            <h2>آخرین اخبار از وبلاگ</h2>
                        </div>
                    </div>
                </div>
                <!-- break -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="post-container post-noborder">
                            <div class="post-img post-img-circle" style="background: url(img/img02.jpg);"></div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <span><em>in</em> <a href="#" title="View all posts in berita utama" rel="category tag">لورم ایپسوم متن ساختگی</a></span>
                                    <span><em>April 22, 2014</em></span>
                                </div>
                                <div class="heading-title">
                                    <h2><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </a></h2>
                                </div>
                            </div>
                        </div>
                        <!-- break -->

                        <div class="post-container post-noborder">
                            <div class="post-img post-img-circle" style="background: url(img/img03.jpg);"></div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <span><em>in</em> <a href="#" title="View all posts in berita utama" rel="category tag">لورم ایپسوم متن ساختگی</a></span>
                                    <span><em>April 22, 2014</em></span>
                                </div>
                                <div class="heading-title">
                                    <h2><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </a></h2>
                                </div>
                            </div>
                        </div>
                        <!-- break -->

                        <div class="post-container post-noborder">
                            <div class="post-img post-img-circle" style="background: url(img/img15.jpg);"></div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <span><em>in</em> <a href="#" title="View all posts in berita utama" rel="category tag">لورم ایپسوم متن ساختگی</a></span>
                                    <span><em>April 22, 2014</em></span>
                                </div>
                                <div class="heading-title">
                                    <h2><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </a></h2>
                                </div>
                            </div>
                        </div>
                        <!-- break -->
                        <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
                    </div>
                </div>
                <!-- break -->

            </div>
            <!-- end:blog -->

            <!-- begin:popular -->
            <div class="col-md-4 col-sm-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-title heading-title-sm bg-white">
                            <h2>محبوب املاک و مستغلات</h2>
                        </div>
                    </div>
                </div>
                <!-- break -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="post-container">
                            <div class="post-img" style="background: url(img/img12.jpg);">
                                <h3>برای فروش</h3>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <span><i class="fa fa-home"></i> 7,000 m<sup>2</sup> / </span>
                                    <span><i class="fa fa-hdd-o"></i> 3 Bed / </span>
                                    <span><i class="fa fa-male"></i> 2 Bath / </span>
                                    <span><i class="fa fa-building-o"></i> 2 Floors / </span>
                                    <span><i class="fa fa-car"></i> 2 Garages / </span>
                                </div>
                                <div class="heading-title">
                                    <h2><a href="#">مسکونی - <span>$300,000</span>/year</a></h2>
                                </div>
                            </div>
                        </div>
                        <!-- break -->

                        <div class="post-container">
                            <div class="post-img" style="background: url(img/img13.jpg);">
                                <h3>برای فروش</h3>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <span><i class="fa fa-home"></i> 6,700 m<sup>2</sup> / </span>
                                    <span><i class="fa fa-hdd-o"></i> 4 Bed / </span>
                                    <span><i class="fa fa-male"></i> 2 Bath / </span>
                                    <span><i class="fa fa-building-o"></i> 1 Floors / </span>
                                    <span><i class="fa fa-car"></i> 2 Garages / </span>
                                </div>
                                <div class="heading-title">
                                    <h2><a href="#">تجاری - <span>$700,000</span>/year</a></h2>
                                </div>
                            </div>
                        </div>
                        <!-- break -->

                        <div class="post-container post-noborder">
                            <div class="post-img" style="background: url(img/img14.jpg);">
                                <h3>برای فروش</h3>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <span><i class="fa fa-home"></i> 5,000 m<sup>2</sup> / </span>
                                    <span><i class="fa fa-hdd-o"></i> 3 Bed / </span>
                                    <span><i class="fa fa-male"></i> 2 Bath / </span>
                                    <span><i class="fa fa-building-o"></i> 1 Floors / </span>
                                    <span><i class="fa fa-car"></i> 1 Garages / </span>
                                </div>
                                <div class="heading-title">
                                    <h2><a href="#">ویلا - <span>$800,000</span></a></h2>
                                </div>
                            </div>
                        </div>
                        <!-- break -->

                    </div>
                </div>
                <!-- break -->

            </div>
            <!-- end:popular -->

            <!-- begin:agent -->
            <div class="col-md-4 col-sm-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading-title heading-title-sm bg-white">
                            <h2>نمایندگی</h2>
                        </div>
                    </div>
                </div>
                <!-- break -->

                <div class="row">
                    <div class="col-md-12">

                        <div class="post-container post-noborder">
                            <div class="post-img" style="background: url(img/team03.jpg);"></div>
                            <div class="post-content list-agent">
                                <div class="heading-title">
                                    <h2><a href="#">ایمان مدائنی</a></h2>
                                </div>
                                <div class="post-meta">
                                    <span><i class="fa fa-envelope-o"></i> Info@Barnamenevisan.Org</span><br>
                                    <span><i class="fa fa-phone"></i> +12345678</span>
                                </div>
                            </div>
                        </div>
                        <!-- break -->

                        <div class="post-container post-noborder">
                            <div class="post-img" style="background: url(img/avatar.png);"></div>
                            <div class="post-content list-agent">
                                <div class="heading-title">
                                    <h2><a href="#">سجاد باقرزاده</a></h2>
                                </div>
                                <div class="post-meta">
                                    <span><i class="fa fa-envelope-o"></i> Info@Barnamenevisan.Org</span><br>
                                    <span><i class="fa fa-phone"></i> +12345678</span>
                                </div>
                            </div>
                        </div>
                        <!-- break -->
                        <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
                        <div class="post-container post-noborder">
                            <div class="post-img" style="background: url(img/team01.jpg);"></div>
                            <div class="post-content list-agent">
                                <div class="heading-title">
                                    <h2><a href="#">ایمان مدائنی</a></h2>
                                </div>
                                <div class="post-meta">
                                    <span><i class="fa fa-envelope-o"></i> Info@Barnamenevisan.Org</span><br>
                                    <span><i class="fa fa-phone"></i> +12345678</span>
                                </div>
                            </div>
                        </div>
                        <!-- break -->

                    </div>
                </div>
                <!-- break -->

            </div>
            <!-- end:agent -->
        </div>
    </div>
</div>
<!-- end:news -->

<!-- begin:subscribe -->
<div id="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-2 col-sm-8 col-xs-12">
                <h3>دریافت خبرنامه</h3>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="Enter your mail">
                    <span class="input-group-btn">
                <button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-envelope"></i></button>
              </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:subscribe -->

<!-- begin:partner -->
<div id="partner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-title bg-white">
                    <h2>مشارکت ما</h2>
                </div>
            </div>
        </div>
        <!-- break -->

        <div class="row">
            <div class="col-md-12">
                <div class="jcarousel-wrapper">
                    <div class="jcarousel">
                        <ul>
                            <li>
                                <a href="#"><img src="{% static 'main/img/img01.jpg' %}" alt="partner of arillo responsive real estate theme"></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'main/img/img02.jpg' %}" alt="partner of arillo responsive real estate theme"></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'main/img/img03.jpg' %}" alt="partner of arillo responsive real estate theme"></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'main/img/img04.jpg' %}" alt="partner of arillo responsive real estate theme"></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'main/img/img05.jpg' %}" alt="partner of arillo responsive real estate theme"></a>
                            </li>
                            <li>
                                <a href="#"><img src="{% static 'main/img/img06.jpg' %}" alt="partner of arillo responsive real estate theme"></a>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="jcarousel-control-prev"><i class="fa fa-angle-left"></i></a>
                    <a href="#" class="jcarousel-control-next"><i class="fa fa-angle-right"></i></a>
                    <!-- <p class="jcarousel-pagination"></p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:partner -->

<!-- begin:footer -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <h3>املاک و مستغلات ثبت شده</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Apartments</a></li>
                        <li><a href="#">Office</a></li>
                        <li><a href="#">Bungalows</a></li>
                        <li><a href="#">Serviced Residence</a></li>
                        <li><a href="#">Villa</a></li>
                    </ul>
                </div>
            </div>
            <!-- break -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <h3>لورم ایپسوم متن ساختگی</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Lorenso</a></li>
                        <li><a href="#">Bardiman</a></li>
                        <li><a href="#">Tarjono noto boto limo</a></li>
                        <li><a href="#">Surti</a></li>
                        <li><a href="#">Ngatinem</a></li>
                    </ul>
                </div>
            </div>
            <!-- break -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <h3>ویژگی ها</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">How To</a></li>
                        <li><a href="#">Market Trend</a></li>
                        <li><a href="#">Android App</a></li>
                        <li><a href="#">IOS App</a></li>
                    </ul>
                </div>
            </div>
            <!-- break -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="widget">
                    <h2>Arillo.</h2>
                    <address>
                <strong>موضوع املاک و مستغلات.</strong><br>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم <br>
                <br>
                Telp. : +98-123456789<br>
                Email : Info@Barnamenevisan.Org
              </address>
                </div>
            </div>
            <!-- break -->
        </div>
        <!-- break -->

        <!-- begin:copyleft -->
        <div class="row">
            <div class="col-md-12 copyleft">
                <p>کلیه حقوق مادی و معنوی برای مجموعه برنامه نویسان محفوظ می باشد . هر گونه کپی برداری از محتوای آموزشی با ذکر منبع مجاز می باشد.</p>

                <a href="#top" class="btn btn-primary scroltop"><i class="fa fa-angle-up"></i></a>
                <ul class="list-inline social-links">
                    <li><a href="#" class="icon-twitter" rel="tooltip" title="" data-placement="bottom" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="icon-facebook" rel="tooltip" title="" data-placement="bottom" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icon-gplus" rel="tooltip" title="" data-placement="bottom" data-original-title="Gplus"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- end:copyleft -->
        <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
    </div>
</div>
<!-- end:footer -->

<!-- begin:modal-signin -->
<div class="modal fade" id="modal-signin" tabindex="-1" role="dialog" aria-labelledby="modal-signin" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Sign in</h4>
            </div>
            <div class="modal-body">
                <form role="form" action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="emailAddress">ایمیل</label>
                        <input type="text" name="username" class="form-control input-lg" placeholder="نام کاربری">
                    </div>
                    <div class="form-group">
                        <label for="password">کلمه عبور</label>
                        <input type="password" name="password" class="form-control input-lg" placeholder="کلمه عبور">
                    </div>
                    <div class="checkbox">
                        <label>
                  <input type="checkbox" name="forget"> مرا بخاطر بسپار
                </label>
                    </div>

            </div>
            <div class="modal-footer">
                <p>آیا ثبت نام نکرده اید ? <a href="#modal-signup" data-toggle="modal" data-target="#modal-signup">ثبت نام</a></p>
                <input type="submit" class="btn btn-primary btn-block btn-lg" value="ورود به سایت">
            </div>
            </form>
        </div>
    </div>
</div>
<!-- end:modal-signin -->

<!-- begin:modal-signup -->
<div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="modal-signup" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">ثبت نام</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="username" class="form-control input-lg" placeholder="نام کاربری">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-control input-lg" placeholder="ایمیل">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control input-lg" placeholder="کلمه عبور">
                    </div>
                    <div class="form-group">
                        <input type="password" name="repassword" class="form-control input-lg" placeholder="تکرار کلمه عبور">
                    </div>
                    <div class="checkbox">
                        <label>
                  <input type="checkbox" name="agree"> آیا با قوانین <a href="#">سایت ما موافق هستید؟</a> 
                </label>
                    </div>

            </div>
            <div class="modal-footer">
                <p>آیا ثبت نام کرده اید؟ <a href="#modal-signin" data-toggle="modal" data-target="#modal-signin">ورود به سایت.</a></p>
                <input type="submit" class="btn btn-primary btn-block btn-lg" value="ثبت نام">
            </div>
            </form>
        </div>
    </div>
</div>
<!-- end:modal-signup -->